<%- include('partials/header.ejs') -%>
<div class="ui main text container segment">
  <div class="ui huge header"><%=blog.title%></div>
  <div class="ui top attached">
    <div class="item">
      <img src="<%=blog.image%>" class="ui centered rounded image">
      <div class="content">
        <span><%=blog.created.toDateString()%></span>
      </div>
      <div class="description">
        <p><%-blog.body%></p>
      </div>
      <a href="/blogs/<%=blog._id%>/edit" class="ui orange basic button">Update Post</a>
      <form class="" action="/blogs/<%=blog._id%>?_method=DELETE" method="post" id="delete">
        <button type="submit" class="ui basic red button">Delete Post</button>
      </form>
    </div>

  </div>
</div>

<%- include('partials/footer.ejs') -%>
